This is some connect

In [2]:
import pandas as pd
file = 'violence_data_NEW.csv'
df = pd.read_csv(file)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12600 entries, 0 to 12599
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   RecordID               12600 non-null  int64
 1   Country                12600 non-null  object
 2   Gender                 12600 non-null  object
 3   Demographics Question  12600 non-null  object
 4   Demographics Response  12600 non-null  object
 5   Question               12600 non-null  object
 6   Survey Year            12600 non-null  object
 7   Value                  11187 non-null  float64
 8   User feedback          79 non-null     object
dtypes: float64(1), int64(1), object(7)
memory usage: 886.1+ KB
None

In [3]:
# Must be included at the beginning of each new notebook. Remember to change the app name.
import findspark
findspark.init('/home/ubuntu/spark-3.2.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('basics').getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/ubuntu/spark-3.2.1-bin-hadoop2.7/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/10/10 06:12:25 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/10/10 06:12:26 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/10/10 06:12:26 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [4]:
file = 'violence_data_NEW.csv'
df = spark.read.csv(file, header=True, inferSchema=True)

In [5]:
# The show method allows you visualise DataFrames. We can see that there are two columns. 
df.show()

+--------+-----------+------+---------------------+---------------------+--------------------+-----------+-----+-------------+
|RecordID|    Country|Gender|Demographics Question|Demographics Response|            Question|Survey Year|Value|User feedback|
+--------+-----------+------+---------------------+---------------------+--------------------+-----------+-----+-------------+
|       1|Afghanistan|     F|       Marital status|        Never married|... if she burns ...| 01/01/2015| null|         null|
|       1|Afghanistan|     F|            Education|               Higher|... if she burns ...| 01/01/2015| 10.1|         null|
|       1|Afghanistan|     F|            Education|            Secondary|... if she burns ...| 01/01/2015| 13.7|         null|
|       1|Afghanistan|     F|            Education|              Primary|... if she burns ...| 01/01/2015| 13.8|           10|
|       1|Afghanistan|     F|       Marital status| Widowed, divorced...|... if she burns ...| 01/01/2015| 13.8|         null|
|       1|Afghanistan|     F|           Employment|    Employed for kind|... if she burns ...| 01/01/2015| 17.0|         null|
|       1|Afghanistan|     F|                  Age|                15-24|... if she burns ...| 01/01/2015| 17.3|           23|
|       1|Afghanistan|     F|           Employment|           Unemployed|... if she burns ...| 01/01/2015| 18.0|            e|
|       1|Afghanistan|     F|            Residence|                Rural|... if she burns ...| 01/01/2015| 18.1|           4t|
|       1|Afghanistan|     F|                  Age|                25-34|... if she burns ...| 01/01/2015| 18.2|             |
|       1|Afghanistan|     F|       Marital status| Married or living...|... if she burns ...| 01/01/2015| 18.3|         null|
|       1|Afghanistan|     F|            Residence|                Urban|... if she burns ...| 01/01/2015| 18.3|         null|
|       1|Afghanistan|     F|                  Age|                35-49|... if she burns ...| 01/01/2015| 18.8|          532|
|       1|Afghanistan|     F|            Education|         No education|... if she burns ...| 01/01/2015| 19.1|         null|
|       1|Afghanistan|     F|           Employment|    Employed for cash|... if she burns ...| 01/01/2015| 20.8|         null|
|       1|Afghanistan|     M|       Marital status|        Never married|... if she burns ...| 01/01/2015| null|         null|
|       1|Afghanistan|     M|            Education|               Higher|... if she burns ...| 01/01/2015|  4.5|         null|
|       1|Afghanistan|     M|            Residence|                Urban|... if she burns ...| 01/01/2015|  4.6|          543|
|       1|Afghanistan|     M|           Employment|           Unemployed|... if she burns ...| 01/01/2015|  5.2|         null|
|       1|Afghanistan|     M|            Education|              Primary|... if she burns ...| 01/01/2015|  6.3|         null|
+--------+-----------+------+---------------------+---------------------+--------------------+-----------+-----+-------------+
only showing top 20 rows

In [6]:
df.columns

['RecordID',
 'Country',
 'Gender',
 'Demographics Question',
 'Demographics Response',
 'Question',
 'Survey Year',
 'Value',
 'User feedback']

In [7]:
df.describe().show()

+-------+------------------+-----------+------+---------------------+---------------------+--------------------+-----------+------------------+----------------+
|summary|          RecordID|    Country|Gender|Demographics Question|Demographics Response|            Question|Survey Year|             Value|   User feedback|
+-------+------------------+-----------+------+---------------------+---------------------+--------------------+-----------+------------------+----------------+
|  count|             12600|      12600| 12600|                12600|                12600|               12600|      12600|             11187|              79|
|   mean|             210.5|       null|  null|                 null|                 null|                null|       null| 19.76253687315632|           232.2|
| stddev|121.24802439346753|       null|  null|                 null|                 null|                null|       null|16.986436699740587|253.959051817414|
|    min|                 1|Afghanistan|     F|                  Age|                15-24|... for at least ...| 01/01/2000|               0.0|                |
|    max|               420|   Zimbabwe|     M|            Residence| Widowed, divorced...|... if she refuse...| 01/01/2018|              86.9|             r55|
+-------+------------------+-----------+------+---------------------+---------------------+--------------------+-----------+------------------+----------------+

In [8]:
df.printSchema()

root
 |-- RecordID: integer (nullable = true)
 |-- Country: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Demographics Question: string (nullable = true)
 |-- Demographics Response: string (nullable = true)
 |-- Question: string (nullable = true)
 |-- Survey Year: string (nullable = true)
 |-- Value: double (nullable = true)
 |-- User feedback: string (nullable = true)

In [9]:
from pyspark.sql.types import (StructField,StringType,IntegerType,StructType)

In [10]:
df.select('Country').show()

+-----------+
|    Country|
+-----------+
|Afghanistan|
|Afghanistan|
|Afghanistan|
|Afghanistan|
|Afghanistan|
|Afghanistan|
|Afghanistan|
|Afghanistan|
|Afghanistan|
|Afghanistan|
|Afghanistan|
|Afghanistan|
|Afghanistan|
|Afghanistan|
|Afghanistan|
|Afghanistan|
|Afghanistan|
|Afghanistan|
|Afghanistan|
|Afghanistan|
+-----------+
only showing top 20 rows

In [11]:
df.select('Country').describe().show()

+-------+-----------+
|summary|    Country|
+-------+-----------+
|  count|      12600|
|   mean|       null|
| stddev|       null|
|    min|Afghanistan|
|    max|   Zimbabwe|
+-------+-----------+

In [12]:
df.select('Gender').show()
df.select('Gender').describe().show()

+------+
|Gender|
+------+
|     F|
|     F|
|     F|
|     F|
|     F|
|     F|
|     F|
|     F|
|     F|
|     F|
|     F|
|     F|
|     F|
|     F|
|     F|
|     M|
|     M|
|     M|
|     M|
|     M|
+------+
only showing top 20 rows

+-------+------+
|summary|Gender|
+-------+------+
|  count| 12600|
|   mean|  null|
| stddev|  null|
|    min|     F|
|    max|     M|
+-------+------+

In [13]:
new = 'Demographics Question'

df.select(new).show()
df.select(new).describe().show()

+---------------------+
|Demographics Question|
+---------------------+
|       Marital status|
|            Education|
|            Education|
|            Education|
|       Marital status|
|           Employment|
|                  Age|
|           Employment|
|            Residence|
|                  Age|
|       Marital status|
|            Residence|
|                  Age|
|            Education|
|           Employment|
|       Marital status|
|            Education|
|            Residence|
|           Employment|
|            Education|
+---------------------+
only showing top 20 rows

+-------+---------------------+
|summary|Demographics Question|
+-------+---------------------+
|  count|                12600|
|   mean|                 null|
| stddev|                 null|
|    min|                  Age|
|    max|            Residence|
+-------+---------------------+

In [14]:
new = 'Question'

df.select(new).show()
df.select(new).describe().show()

+--------------------+
|            Question|
+--------------------+
|... if she burns ...|
|... if she burns ...|
|... if she burns ...|
|... if she burns ...|
|... if she burns ...|
|... if she burns ...|
|... if she burns ...|
|... if she burns ...|
|... if she burns ...|
|... if she burns ...|
|... if she burns ...|
|... if she burns ...|
|... if she burns ...|
|... if she burns ...|
|... if she burns ...|
|... if she burns ...|
|... if she burns ...|
|... if she burns ...|
|... if she burns ...|
|... if she burns ...|
+--------------------+
only showing top 20 rows

+-------+--------------------+
|summary|            Question|
+-------+--------------------+
|  count|               12600|
|   mean|                null|
| stddev|                null|
|    min|... for at least ...|
|    max|... if she refuse...|
+-------+--------------------+

In [15]:

new = 'Demographics Response'

df.select(new).show()
df.select(new).describe().show()

+---------------------+
|Demographics Response|
+---------------------+
|        Never married|
|               Higher|
|            Secondary|
|              Primary|
| Widowed, divorced...|
|    Employed for kind|
|                15-24|
|           Unemployed|
|                Rural|
|                25-34|
| Married or living...|
|                Urban|
|                35-49|
|         No education|
|    Employed for cash|
|        Never married|
|               Higher|
|                Urban|
|           Unemployed|
|              Primary|
+---------------------+
only showing top 20 rows

+-------+---------------------+
|summary|Demographics Response|
+-------+---------------------+
|  count|                12600|
|   mean|                 null|
| stddev|                 null|
|    min|                15-24|
|    max| Widowed, divorced...|
+-------+---------------------+

In [16]:

new = 'Survey Year'

df.select(new).show()
df.select(new).describe().show()

+-----------+
|Survey Year|
+-----------+
| 01/01/2015|
| 01/01/2015|
| 01/01/2015|
| 01/01/2015|
| 01/01/2015|
| 01/01/2015|
| 01/01/2015|
| 01/01/2015|
| 01/01/2015|
| 01/01/2015|
| 01/01/2015|
| 01/01/2015|
| 01/01/2015|
| 01/01/2015|
| 01/01/2015|
| 01/01/2015|
| 01/01/2015|
| 01/01/2015|
| 01/01/2015|
| 01/01/2015|
+-----------+
only showing top 20 rows

+-------+-----------+
|summary|Survey Year|
+-------+-----------+
|  count|      12600|
|   mean|       null|
| stddev|       null|
|    min| 01/01/2000|
|    max| 01/01/2018|
+-------+-----------+

In [17]:

new = 'Value'

df.select(new).show()
df.select(new).describe().show()

+-----+
|Value|
+-----+
| null|
| 10.1|
| 13.7|
| 13.8|
| 13.8|
| 17.0|
| 17.3|
| 18.0|
| 18.1|
| 18.2|
| 18.3|
| 18.3|
| 18.8|
| 19.1|
| 20.8|
| null|
|  4.5|
|  4.6|
|  5.2|
|  6.3|
+-----+
only showing top 20 rows

+-------+------------------+
|summary|             Value|
+-------+------------------+
|  count|             11187|
|   mean| 19.76253687315632|
| stddev|16.986436699740587|
|    min|               0.0|
|    max|              86.9|
+-------+------------------+

In [18]:

new = 'User feedback'

df.select(new).show()
df.select(new).describe().show()

+-------------+
|User feedback|
+-------------+
|         null|
|         null|
|         null|
|           10|
|         null|
|         null|
|           23|
|            e|
|           4t|
|             |
|         null|
|         null|
|          532|
|         null|
|         null|
|         null|
|         null|
|          543|
|         null|
|         null|
+-------------+
only showing top 20 rows

+-------+----------------+
|summary|   User feedback|
+-------+----------------+
|  count|              79|
|   mean|           232.2|
| stddev|253.959051817414|
|    min|                |
|    max|             r55|
+-------+----------------+

In [19]:
#3.1 drop the 'Usere feedback' field
columns_to_drop = ['User feedback']
new_df = df.drop(*columns_to_drop)

In [20]:
new_df.columns

['RecordID',
 'Country',
 'Gender',
 'Demographics Question',
 'Demographics Response',
 'Question',
 'Survey Year',
 'Value']

In [21]:
#use your sales average to fill missing data. 
from pyspark.sql.functions import mean
#3.2 Dealing with the null value in 'Value' field
mean_value = df.select(mean(df['Value'])).collect()[0][0]
new_df = new_df.na.fill({'Value': mean_value})

In [22]:
new_df.show()
new_df.printSchema()

+--------+-----------+------+---------------------+---------------------+--------------------+-----------+-----------------+
|RecordID|    Country|Gender|Demographics Question|Demographics Response|            Question|Survey Year|            Value|
+--------+-----------+------+---------------------+---------------------+--------------------+-----------+-----------------+
|       1|Afghanistan|     F|       Marital status|        Never married|... if she burns ...| 01/01/2015|19.76253687315632|
|       1|Afghanistan|     F|            Education|               Higher|... if she burns ...| 01/01/2015|             10.1|
|       1|Afghanistan|     F|            Education|            Secondary|... if she burns ...| 01/01/2015|             13.7|
|       1|Afghanistan|     F|            Education|              Primary|... if she burns ...| 01/01/2015|             13.8|
|       1|Afghanistan|     F|       Marital status| Widowed, divorced...|... if she burns ...| 01/01/2015|             13.8|
|       1|Afghanistan|     F|           Employment|    Employed for kind|... if she burns ...| 01/01/2015|             17.0|
|       1|Afghanistan|     F|                  Age|                15-24|... if she burns ...| 01/01/2015|             17.3|
|       1|Afghanistan|     F|           Employment|           Unemployed|... if she burns ...| 01/01/2015|             18.0|
|       1|Afghanistan|     F|            Residence|                Rural|... if she burns ...| 01/01/2015|             18.1|
|       1|Afghanistan|     F|                  Age|                25-34|... if she burns ...| 01/01/2015|             18.2|
|       1|Afghanistan|     F|       Marital status| Married or living...|... if she burns ...| 01/01/2015|             18.3|
|       1|Afghanistan|     F|            Residence|                Urban|... if she burns ...| 01/01/2015|             18.3|
|       1|Afghanistan|     F|                  Age|                35-49|... if she burns ...| 01/01/2015|             18.8|
|       1|Afghanistan|     F|            Education|         No education|... if she burns ...| 01/01/2015|             19.1|
|       1|Afghanistan|     F|           Employment|    Employed for cash|... if she burns ...| 01/01/2015|             20.8|
|       1|Afghanistan|     M|       Marital status|        Never married|... if she burns ...| 01/01/2015|19.76253687315632|
|       1|Afghanistan|     M|            Education|               Higher|... if she burns ...| 01/01/2015|              4.5|
|       1|Afghanistan|     M|            Residence|                Urban|... if she burns ...| 01/01/2015|              4.6|
|       1|Afghanistan|     M|           Employment|           Unemployed|... if she burns ...| 01/01/2015|              5.2|
|       1|Afghanistan|     M|            Education|              Primary|... if she burns ...| 01/01/2015|              6.3|
+--------+-----------+------+---------------------+---------------------+--------------------+-----------+-----------------+
only showing top 20 rows

root
 |-- RecordID: integer (nullable = true)
 |-- Country: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Demographics Question: string (nullable = true)
 |-- Demographics Response: string (nullable = true)
 |-- Question: string (nullable = true)
 |-- Survey Year: string (nullable = true)
 |-- Value: double (nullable = false)

In [23]:
new = 'Value'

new_df.select(new).show()
new_df.select(new).describe().show()

+-----------------+
|            Value|
+-----------------+
|19.76253687315632|
|             10.1|
|             13.7|
|             13.8|
|             13.8|
|             17.0|
|             17.3|
|             18.0|
|             18.1|
|             18.2|
|             18.3|
|             18.3|
|             18.8|
|             19.1|
|             20.8|
|19.76253687315632|
|              4.5|
|              4.6|
|              5.2|
|              6.3|
+-----------------+
only showing top 20 rows

+-------+------------------+
|summary|             Value|
+-------+------------------+
|  count|             12600|
|   mean| 19.76253687315705|
| stddev|16.005588776096097|
|    min|               0.0|
|    max|              86.9|
+-------+------------------+

In [24]:
#3.3 Constructing new data from 'Value' called 'Measurement'
from pyspark.sql.functions import mean, col, when 
data_copy_33 = new_df.withColumn(
    'Measurement',
    when(col('Value') == mean_value, 0).otherwise(1)
)

In [25]:
new = 'Measurement'

data_copy_33.select(new).show()
data_copy_33.select(new).describe().show()

+-----------+
|Measurement|
+-----------+
|          0|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          0|
|          1|
|          1|
|          1|
|          1|
+-----------+
only showing top 20 rows

+-------+-------------------+
|summary|        Measurement|
+-------+-------------------+
|  count|              12600|
|   mean| 0.8878571428571429|
| stddev|0.31555465373180014|
|    min|                  0|
|    max|                  1|
+-------+-------------------+

In [26]:
data_copy_33.printSchema()

root
 |-- RecordID: integer (nullable = true)
 |-- Country: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Demographics Question: string (nullable = true)
 |-- Demographics Response: string (nullable = true)
 |-- Question: string (nullable = true)
 |-- Survey Year: string (nullable = true)
 |-- Value: double (nullable = false)
 |-- Measurement: integer (nullable = false)

In [40]:
new = 'Value'

data_copy_33.select(new).show()
data_copy_33.select(new).describe().show()

+-----------------+
|            Value|
+-----------------+
|19.76253687315632|
|             10.1|
|             13.7|
|             13.8|
|             13.8|
|             17.0|
|             17.3|
|             18.0|
|             18.1|
|             18.2|
|             18.3|
|             18.3|
|             18.8|
|             19.1|
|             20.8|
|19.76253687315632|
|              4.5|
|              4.6|
|              5.2|
|              6.3|
+-----------------+
only showing top 20 rows

+-------+------------------+
|summary|             Value|
+-------+------------------+
|  count|             12600|
|   mean| 19.76253687315705|
| stddev|16.005588776096097|
|    min|               0.0|
|    max|              86.9|
+-------+------------------+

In [27]:
#3.4 Merging with other dataframe
file2 = 'violence_data_merge.csv'
merge_df = spark.read.csv(file2, header=True, inferSchema=True)

In [28]:
merge_df.show()

+--------+----+----+----+----+----+----+----+-------------+
|RecordID| _c1| _c2| _c3| _c4| _c5| _c6| _c7|User feedback|
+--------+----+----+----+----+----+----+----+-------------+
|       1|null|null|null|null|null|null|null|         null|
|       1|null|null|null|null|null|null|null|         null|
|       1|null|null|null|null|null|null|null|         null|
|       1|null|null|null|null|null|null|null|           10|
|       1|null|null|null|null|null|null|null|         null|
|       1|null|null|null|null|null|null|null|         null|
|       1|null|null|null|null|null|null|null|           23|
|       1|null|null|null|null|null|null|null|            e|
|       1|null|null|null|null|null|null|null|           4t|
|       1|null|null|null|null|null|null|null|             |
|       1|null|null|null|null|null|null|null|         null|
|       1|null|null|null|null|null|null|null|         null|
|       1|null|null|null|null|null|null|null|          532|
|       1|null|null|null|null|null|null|null|         null|
|       1|null|null|null|null|null|null|null|         null|
|       1|null|null|null|null|null|null|null|         null|
|       1|null|null|null|null|null|null|null|         null|
|       1|null|null|null|null|null|null|null|          543|
|       1|null|null|null|null|null|null|null|         null|
|       1|null|null|null|null|null|null|null|         null|
+--------+----+----+----+----+----+----+----+-------------+
only showing top 20 rows

23/10/10 06:12:42 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: RecordID, , , , , , , , User feedback
 Schema: RecordID, _c1, _c2, _c3, _c4, _c5, _c6, _c7, User feedback
Expected: _c1 but found:
CSV file: file:///home/ubuntu/722_I4/violence_data_merge.csv

In [41]:
merged_data = data_copy_33.join(merge_df, 'RecordID')

In [42]:
new = 'Value'

merged_data.select(new).show()
merged_data.select(new).describe().show()

+-----------------+
|            Value|
+-----------------+
|19.76253687315632|
|19.76253687315632|
|19.76253687315632|
|19.76253687315632|
|19.76253687315632|
|19.76253687315632|
|19.76253687315632|
|19.76253687315632|
|19.76253687315632|
|19.76253687315632|
|19.76253687315632|
|19.76253687315632|
|19.76253687315632|
|19.76253687315632|
|19.76253687315632|
|19.76253687315632|
|19.76253687315632|
|19.76253687315632|
|19.76253687315632|
|19.76253687315632|
+-----------------+
only showing top 20 rows

+-------+------------------+
|summary|             Value|
+-------+------------------+
|  count|            378000|
|   mean| 19.76253687315055|
| stddev|16.004974791697258|
|    min|               0.0|
|    max|              86.9|
+-------+------------------+

In [38]:
merged_data.show()
merged_data.printSchema()

23/10/10 06:15:41 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: RecordID, , , , , , , , User feedback
 Schema: RecordID, _c1, _c2, _c3, _c4, _c5, _c6, _c7, User feedback
Expected: _c1 but found:
CSV file: file:///home/ubuntu/722_I4/violence_data_merge.csv

+--------+-----------+------+---------------------+---------------------+--------------------+-----------+-----------------+----+----+----+----+----+----+----+-------------+
|RecordID|    Country|Gender|Demographics Question|Demographics Response|            Question|Survey Year|            Value| _c1| _c2| _c3| _c4| _c5| _c6| _c7|User feedback|
+--------+-----------+------+---------------------+---------------------+--------------------+-----------+-----------------+----+----+----+----+----+----+----+-------------+
|       1|Afghanistan|     F|       Marital status|        Never married|... if she burns ...| 01/01/2015|19.76253687315632|null|null|null|null|null|null|null|           4e|
|       1|Afghanistan|     F|       Marital status|        Never married|... if she burns ...| 01/01/2015|19.76253687315632|null|null|null|null|null|null|null|         gf43|
|       1|Afghanistan|     F|       Marital status|        Never married|... if she burns ...| 01/01/2015|19.76253687315632|null|null|null|null|null|null|null|         null|
|       1|Afghanistan|     F|       Marital status|        Never married|... if she burns ...| 01/01/2015|19.76253687315632|null|null|null|null|null|null|null|         null|
|       1|Afghanistan|     F|       Marital status|        Never married|... if she burns ...| 01/01/2015|19.76253687315632|null|null|null|null|null|null|null|        fdcet|
|       1|Afghanistan|     F|       Marital status|        Never married|... if she burns ...| 01/01/2015|19.76253687315632|null|null|null|null|null|null|null|         null|
|       1|Afghanistan|     F|       Marital status|        Never married|... if she burns ...| 01/01/2015|19.76253687315632|null|null|null|null|null|null|null|         null|
|       1|Afghanistan|     F|       Marital status|        Never married|... if she burns ...| 01/01/2015|19.76253687315632|null|null|null|null|null|null|null|           f5|
|       1|Afghanistan|     F|       Marital status|        Never married|... if she burns ...| 01/01/2015|19.76253687315632|null|null|null|null|null|null|null|         null|
|       1|Afghanistan|     F|       Marital status|        Never married|... if she burns ...| 01/01/2015|19.76253687315632|null|null|null|null|null|null|null|         r54t|
|       1|Afghanistan|     F|       Marital status|        Never married|... if she burns ...| 01/01/2015|19.76253687315632|null|null|null|null|null|null|null|         null|
|       1|Afghanistan|     F|       Marital status|        Never married|... if she burns ...| 01/01/2015|19.76253687315632|null|null|null|null|null|null|null|         null|
|       1|Afghanistan|     F|       Marital status|        Never married|... if she burns ...| 01/01/2015|19.76253687315632|null|null|null|null|null|null|null|          543|
|       1|Afghanistan|     F|       Marital status|        Never married|... if she burns ...| 01/01/2015|19.76253687315632|null|null|null|null|null|null|null|         null|
|       1|Afghanistan|     F|       Marital status|        Never married|... if she burns ...| 01/01/2015|19.76253687315632|null|null|null|null|null|null|null|         null|
|       1|Afghanistan|     F|       Marital status|        Never married|... if she burns ...| 01/01/2015|19.76253687315632|null|null|null|null|null|null|null|         null|
|       1|Afghanistan|     F|       Marital status|        Never married|... if she burns ...| 01/01/2015|19.76253687315632|null|null|null|null|null|null|null|         null|
|       1|Afghanistan|     F|       Marital status|        Never married|... if she burns ...| 01/01/2015|19.76253687315632|null|null|null|null|null|null|null|          532|
|       1|Afghanistan|     F|       Marital status|        Never married|... if she burns ...| 01/01/2015|19.76253687315632|null|null|null|null|null|null|null|         null|
|       1|Afghanistan|     F|       Marital status|        Never married|... if she burns ...| 01/01/2015|19.76253687315632|null|null|null|null|null|null|null|         null|
+--------+-----------+------+---------------------+---------------------+--------------------+-----------+-----------------+----+----+----+----+----+----+----+-------------+
only showing top 20 rows

root
 |-- RecordID: integer (nullable = true)
 |-- Country: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Demographics Question: string (nullable = true)
 |-- Demographics Response: string (nullable = true)
 |-- Question: string (nullable = true)
 |-- Survey Year: string (nullable = true)
 |-- Value: double (nullable = false)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- User feedback: string (nullable = true)

In [31]:
#3.5 Removing all the other fields that do not have anything contains
columns_to_drop = ['_c1', '_c2', '_c3', '_c4', '_c5', '_c6', '_c7']
merged_data = merged_data.drop(*columns_to_drop)

In [32]:
merged_data.printSchema()

root
 |-- RecordID: integer (nullable = true)
 |-- Country: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Demographics Question: string (nullable = true)
 |-- Demographics Response: string (nullable = true)
 |-- Question: string (nullable = true)
 |-- Survey Year: string (nullable = true)
 |-- Value: double (nullable = false)
 |-- Measurement: integer (nullable = false)
 |-- User feedback: string (nullable = true)